<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503682889954-87me5ip7dbsilvdq6k8c1uu5b5n3brsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503682889954-87me5ip7dbsilvdq6k8c1uu5b5n3brsf</string>
	<key>API_KEY</key>
	<string>AIzaSyAARz_NxYpXTrMUb5Ff4uoF04FzygS1G3A</string>
	<key>GCM_SENDER_ID</key>
	<string>503682889954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.annaraczynska.yumApp</string>
	<key>PROJECT_ID</key>
	<string>yumapp123</string>
	<key>STORAGE_BUCKET</key>
	<string>yumapp123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503682889954:ios:6ae532204aac90a56306bb</string>
</dict>
</plist>